@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @{
        ViewBag.Title = "Home Page";
    }

    <main>
        <section class="row" aria-labelledby="aspnetTitle">
            <h1 id="title">RESPITE</h1>

        </section>


    </main>