@{
    Layout = "~/Views/Shared/layoutUsuario.cshtml";
}
@model RespiteClinic.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}

<main aria-labelledby="title">
    <div class="container text-center">
        <h2 id="title">@ViewBag.Title.</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>

        <div class="settings-box">
            <h4>Cambiar la configuración de la cuenta</h4>
            <hr />
            <div class="password-change">
                <p>Contraseña:</p>
                <div class="password-link">
                    @if (Model.HasPassword)
                    {
                        <a href="@Url.Action("ChangePassword")" class="btn btn-primary">Cambiar contraseña</a>
                    }
                    else
                    {
                        <a href="@Url.Action("SetPassword")" class="btn btn-success">Crear contraseña</a>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .settings-box {
        background-color: #9cd2d3;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
    }

    .password-link {
        margin-top: 10px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn-primary {
        background-color: #114c5f;
    }

        .btn-primary:hover {
            background-color: #0069d9;
        }

    .btn-success {
        background-color: #28a745;
    }

        .btn-success:hover {
            background-color: #218838;
        }
</style>
